.sec{
    background-color: black;
    display: flex;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: blue;
    margin-right: 30px;
}
/*style for hero-section*/
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(lub.jpg);
    background-repeat: no-repeat;
    height: 65vh;
    text-align: center;
    color: wheat;
    padding-top: 50px;
    background-size: cover;
}
.hero h1{
    font-size: 50px;
    font-weight: bold;
}
span{
    font-size: 70px;
    color: gold;
}
button{
    padding: 20px 10px;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;
    background-image: linear-gradient(rgba(90,100,255,1.2));
    color: antiquewhite;
    box-shadow: 0 0 20px blue;
}

/*style for about-section*/
.about{
    background-color: rgb(31, 30, 30);
    text-align: center;
    color: wheat;
    padding-top: 30px;
    padding-bottom: 20px;
}
.about h2,h3{
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 0 0 8px;
    font-size: 30px;
}

/*style for academics-section*/
.academics{
    text-align: center;
    color: black;
    background-color: gray;
    padding-top: 30px;
    padding-bottom: 40px;
}
.cards{
    display: flex;
    gap: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.card{
    border: 2px solid red;
    border-radius: 20px;
    flex: 1;
}

/*style for gallery-section*/
.gallery{
    background-image: linear-gradient(rgba(0,0,0,0.5)),url(celebrations.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(218, 210, 251);
    font-size: 20px;
    height: 50vh;
    padding-top: 10px;
}
.images{
    display: flex;
    gap: 10px;
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 60px;
}
.images img{
    width: 300px;
    height: 210px;
    border-radius: 10px;
}

/*style for gallery-section*/
.contacts{
    text-align: center;
    background-image: linear-gradient(rgba(50,100,150,200));
    padding-top: 10px;
    color: white;
}
.contact{
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.contact h3{
    font-size: 20px;
}
.contact img{
    width: 100px;
    height: 70px;
    border-radius: 50%;
    background-color: linear-gradient(rgba(50,100,150,200));
}

/*style for form-section*/
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 100px;
    background-color: rgba(50,150,350,200);
    color: wheat;
    padding-top: 20px;
}
button{
    padding: 10px;
    font-size: 15px;
}

/*style for foooter-section*/
.footer{
    text-align: center;
    color: rgba(50,150,350,200);
    padding-bottom: 50px;
}
.footer img{
    width: 20px;
    height: 15px;
    padding-left: 2px;
}
.footer a{
    font-size: 20px;
    font-weight: bold;
}

@media(max-width:680px){
    
}